#page-nav-wrapper 
  height 60px
  background-color transparent
  position sticky
  top 0
  z-index 500

  .nav-list
    height 100%
    display flex
    align-items center
    background-color primary-color
    .nav-item
      list-style none

      a
        text-decoration none
      a.is_current
        color: #00c6aa

      a:not(.logo) {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .25rem;
        font-weight 600
      }

      a.logo 
        font-family "aAdistro"

    .nav-item:nth-child(2)
      margin-left auto