#page-nav-wrapper 
  height 60px
  background-color primary-color
  position sticky
  top 0
  z-index 500

  a.logo 
    font-family "aAdistro"

  .icon-menu 
    font-size 34px


  .nav-list
    display none
    height 100%
    .nav-item
      list-style none

      a
        font-family: "Open Sans", Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: .25rem;
        text-decoration none

    .nav-item:nth-child(2)
      margin-left auto
  @media (min-width 640px)
    #m-menu-btn
      display none
    .nav-list
      display flex
.is_current
  color: #00c6aa

.m-nav-list
  height 188px
  transition height .25s ease-in-out

.m-nav-list.hide 
  height 0