<div id="search-local">
  <div class="search-box">
    <div class="search-header">
      <input class="search-input" type="text">
    </div>
    <div class="search-result"></div>
  </div>
</div>