primary-color = #192125
highlight-color = #00C6AA
// layout
@import '_layout/home';
@import '_layout/post';
@import '_layout/archive';
// partial
@import '_partial/highlight';
@import '_partial/nav';
@import '_partial/loading';
@import '_partial/seach';
@import '_partial/header';

@keyframes spin {
  0%   { 
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes fade-out{
  0% {
    opacity:1
  }
  to {
    opacity:0
  }
}

.animate-fade-out 
  animation: fade-out 0.2s ease-in-out;

html, body 
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

body 
  background-image: linear-gradient(0deg,transparent 24%,rgba(201,195,195,.329) 25%,rgba(209,201,201,.05) 26%,transparent 27%,transparent 74%,rgba(209,204,204,.185) 75%,rgba(180,176,176,.05) 76%,transparent 77%,transparent),linear-gradient(90deg,transparent 24%,rgba(204,196,196,.226) 25%,rgba(172,165,165,.05) 26%,transparent 27%,transparent 74%,rgba(209,204,204,.185) 75%,rgba(180,176,176,.05) 76%,transparent 77%,transparent);
  background-size: 50px 50px;

.pagination .page-number
  display inline-block

.pagination .page-number:not(:last-child)
  margin-right 6px

.pagination a, .pagination .current {
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    border-radius: 0.125rem;
    transition: background-color 0.2s ease-in-out;
}

.pagination a:hover, .pagination .current  {
    background-color: #edf2f7;
}

.pagination .current 
  color #00C6AA

.default-header
  height 50vh

.home-header 
  height 50vh  

.post-header
  height 50vh
  
.archive-header 
  height 60vh
  margin-top: -60px;
