// layout
@import '_layout/home';
// partial
@import '_partial/nav';
@import '_partial/loading';

@keyframes spin {
  0%   { 
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}