#archives-page
  ul 
    li.archive
      a
        color primary-color
        .date 
          display inline-block
          min-width 50px

      a:hover span 
        color highlight-color
        
