#home-header 
  background-color #192125

  h1
    padding 0 4em
    color rgba(255, 255, 255, .9)
    font-family: "librebaskerville-bold", serif;

  nav 
    bottom 16%
    right 3%

.posts
  .post  
    flex-direction column
    .cover
      width 100%
      div.image 
        padding-top 60% 
        background-repeat no-repeat
        background-size 100%
    .info
      width 100%
      padding 1rem
      a.title 
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #192125
        &:hover
          color: #00C6AA
      .desc
        word-break: break-all;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
.post + .post 
  border-top 1px solid #edf2f7

@media (min-width: 640px) 
  .posts
    .post
      flex-direction row
      .cover
        min-width 240px
        width 25%
        div.image 
          padding-top 66.666666%
      .info
        width auto