#post-page
  #post-aside
    display none
    min-width 220px
    transition min-width .25s ease-in-out

  #post-aside.hide
    min-width 0
    width 0
    overflow hidden
    padding 0
    bottom 0

  #post-aside.hide + div #toc-toggle-btn
    color highlight-color

  .toc-toggle-btn-wrapper
    border-color: #edf2f7;

  .toc-toggle-btn-wrapper
    display none

    #toc-toggle-btn
      position: sticky;
      top: 80px;

  @media (min-width: 760px) 
    #post-aside
      display block

    .toc-toggle-btn-wrapper
      display block

.markdown-article
  footer
    .post-next 
      text-align right

    .post-prev, .post-next 
      max-width 50%
      a
        display block
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;

#post-toc
  position sticky
  top 80px

  .toc-child
    padding .5em 0 

  .toc-text
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;

  .toc-text, .toc-number 
    font-size 14px
    color #192125
    
    &:hover 
      color #00C6AA