.markdown-article
  footer
    .post-next 
      text-align right
    .post-prev, .post-next 
      max-width 50%
      a
        display block
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;

#post-toc
  min-width 200px
  position sticky
  top 60px
  .toc-child
    padding .5em 0 
  .toc-text
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
  .toc-text, .toc-number 
    font-size 14px
    color #192125
    &:hover 
      color #00C6AA