#page-body {
  #content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
    #main, #aside {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      font-size: 14px;
      margin: 2em 0;
    }
    #main {
      width: 70%;
    }
    #aside {
      width: 30%;
      padding-left: 2em;
    }
  }
}

#paginator {
  text-align: center;
  .page-number {
    display: inline-block;
    padding: 4px 10px;
    background-color: #ffffff;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      background-color: $primary;
    }
  }
}