<ul class="list">
  <li>
    <h4>社交</h4>
    <div class="social-media">
      <i class="fab fa-github"></i>
      <i class="fab fa-weixin"></i>
      <i class="fab fa-qq"></i>
    </div>
  </li>
  <li>
    <h4>搜索</h4>
    <div class="search-btn" id="search-local-btn">
      本地搜索
    </div>
  </li>
  <li>
    <h4>推荐文章</h4>
    <%- partial('./recent-posts') %>
  </li>
  <li>
    <h4>归档</h4>
    <%- list_archives({
      show_count: true,
      format: 'YYYY-MM'
    }) %>
  </li>
  <li>
    <h4>分类</h4>
    <%- list_categories() %>
  </li>
</ul>