<footer id="page-footer">
  <div id="footer-inner">
    Site by <%=config.author%> using
    <a class="link" href="http://hexo.io">hexo blog framework</a>
    <br>
    <p><%= config.email %></p>
  </div>
</footer>