<ul id="recent-posts">
  <% site.posts.sort('date', -1).limit(6).each(post => { %>
    <li style="background-image: url(<%= post.img %>)">
      <div class="info">
        <h4><%=truncate(strip_html(post.title), { length: 24 })%></h4>
        <time>
          <%=date(post.date, "YYYY年MM月DD日")%>
        </time>
      </div>
    </li>
  <% }) %>
</ul>