<% var headerClass = 'default-header' %> 
<% if (is_home()) { %> 
  <% headerClass = 'home-header' %>   
  <% page.typedTitle = 'Hexo极简博客主题--minimalism' %> 
<% } %> 
<% if (is_post()) { %> 
  <% headerClass = 'post-header'  %>   
  <% page.typedTitle = page.title %> 
<% } %> 
<% if (is_archive()) { %> 
  <% headerClass = 'archive-header' %>   
  <% page.typedTitle = '归档页面' %> 
<% } %> 
<header class="relative text-white w-full flex flex-col justify-center items-center  <%= headerClass %>" style="background-color: #192125;">
  <div class="typed-title-wrapper font-mediumn text-3xl">
    <span id="typed-title"></span>
    <div id="typed-strings">
      <p><%= page.typedTitle %> </p>
    </div>
  </div>
  <% if (is_post()) { %>
    <div class="mt-3 px-3">
      <%- partial("_partial/post-meta", { post: page }) %> 
    </div>
  <% } %>  
  <% if (is_home()) { %>
    <nav class="absolute right-0 bottom-0 p-8">
      <a href="" title="wechat" class="block my-4 text-sm text-white">
        <i class="iconfont icon-github"></i>
      </a>
      <a href="" title="wechat" class="block my-4 text-sm text-white">
        <i class="iconfont icon-wechat"></i>
      </a>
      <a href="" title="wechat" class="block my-4 text-sm text-white">
        <i class="iconfont icon-qq"></i>
      </a>
    </nav>
  <% } %>  
</header>

<script>
  window.addEventListener('load', function () {
    setTimeout(function () {
      var typed = new Typed('#typed-title', {
        stringsElement: '#typed-strings',
        cursorChar: "_",
        typeSpeed: 40,
        loop: false,
      });
    }, 500)
  })
</script>