<header class="text-white w-full flex flex-col justify-center items-center" style="height: 60vh;background-color: #192125;">
  <% if (is_archive()) { %> 
    <h1 class="text-3xl">
      归档页面 
    </h1>
  <% } else if (is_current('/tags', false)) { %> 
    <h1 class="text-3xl">
      标签页面 
    </h1>
  <% } %> 
</header>