<nav id="page-nav-wrapper" class="w-screen  mt-6">
  <ul class="nav-list px-10">
    <li class="nav-item">
      <a href="" class="logo text-white">
        <h1 class="text-5xl">zpo.blog</h1>
      </a>
    </li>
    <% for (const menu in menus) { %>
      <% if (menus.hasOwnProperty(menu)) { %>
        <% const current = menus[menu] %>
        <li class="nav-item">
          <% if (is_current(current.url)) { %>
            <a href=<%= current.url %> class="shadow rounded-full text-base inline-block py-2 px-6 mx-1 text-gray-400 is_current"><%= current.cn %></a>
          <% } else { %>
            <a href=<%= current.url %> class="shadow rounded-full text-base inline-block py-2 px-6 mx-1 text-gray-400"><%= current.cn %></a>
          <% } %>
        </li>
      <% } %>
    <% } %>
  </ul>
</nav>