<nav id="page-nav-wrapper">
  <ul class="nav-list mt-6 px-10">
    <li class="nav-item">
      <a href="" class="logo">
        <h1 class="text-5xl">zpo.blog</h1>
      </a>
    </li>
    <% for (const menu in menus) { %>
      <% if (menus.hasOwnProperty(menu)) { %>
        <% const current = menus[menu] %>
        <li class="nav-item">
          <a href="" class=<%= current.en %>><%= current.en %></a>
        </li>
      <% } %>
    <% } %>
  </ul>
</nav>