<nav id="page-nav-wrapper" class="w-full">
  <ul class="nav-list px-10 shadow-sm">
    <li class="nav-item">
      <a href="" class="logo text-white">
        <h1 class="text-4xl">zpo.blog</h1>
      </a>
    </li>
    <% for (const menu in menus) { %>
      <% if (menus.hasOwnProperty(menu)) { %>
        <% const current = menus[menu] %>
        <li class="nav-item">
          <% if (is_current(current.url)) { %>
            <a href=<%= current.url %> class="shadow rounded-full text-base inline-block py-2 px-6 mx-1 text-gray-400 is_current"><%= current.cn %></a>
          <% } else { %>
            <a href=<%= current.url %> class="shadow rounded-full text-base inline-block py-2 px-6 mx-1 text-gray-400"><%= current.cn %></a>
          <% } %>
        </li>
      <% } %>
    <% } %>
    <li>
      <a href="javascript:;" id="search-local-btn" class="shadow rounded-full text-lg inline-block py-2 px-6 mx-1 text-gray-400">
        <i class="iconfont icon-search"></i>
      </a>
    </li>
  </ul>
</nav>