<div id="search-local" class="p-8">
  <div class="search-box rounded shadow-sm bg-white">
    <div class="search-header">
      <input class="search-input rounded bg-gray-200" placeholder="请输入关键进行搜索" type="text">
    </div>
    <div class="search-result mt-2 rounded"></div>
  </div>
</div>