<div id="search-local">
  <div class="search-box rounded shadow-sm w-3/5 p-8 bg-white">
    <div class="search-header">
      <input class="search-input rounded bg-gray-200" type="text">
    </div>
    <div class="search-result mt-2"></div>
  </div>
</div>