<%- partial('_partial/header') %> 
<main class="flex justify-center bg-white w-full items-center">
  <ul class="max-w-screen-lg w-3/5 pb-12 pt-4 px-12 shadow-sm">
    <% var year = 0 %> 
    <% site.posts.sort('date', -1).each(function (post) { %>
     <% if(date(post.date, "YYYY") && date(post.date, "YYYY") !== year) { %>
        <% year = date(post.date, "YYYY") %> 
        <h3 class="my-8 text-xl pb-4 border-b border-gray-300"><%= date(post.date, "YYYY") %></h3>
     <% } %>
     <li class="mb-4">
        <span class="text-gray-600"><%= date(post.date, 'MM-DD') %> </span>
        <a class="inline-block pl-4" href=""><%= post.title %></a>
     </li>
   <% }) %> 
  </ul>
</main>