<header id="home-header" class="relative w-screen h-screen flex justify-center items-center flex-wrap">
  <h1 class="text-4xl">
    hexo极简主题--minimalism
  </h1>
  <nav class="absolute">
    <a href="" title="wechat" class="block my-4 text-sm text-white">github</a>
    <a href="" title="wechat" class="block my-4 text-sm text-white">wechat</a>
    <a href="" title="wechat" class="block my-4 text-sm text-white">QQ</a>
  </nav>
</header>

<main class="flex justify-center flex-wrap">
  <section class="-mt-8 w-4/5 bg-white shadow-sm">
    <ul class="flex-wrap flex justify-center">
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
      <li class="w-full h-32 border-t border-gray-300"></li>
    </ul>
    <% if (page.total) { %>
      <section class="pagination w-full flex justify-center my-4 ">
        <%- paginator({
          prev_text: '<i class="iconfont icon-arrowleft"></i>',
          next_text: '<i class="iconfont icon-arrowright"></i>',
          mid_size: 2,
          escape: false
        }) %>
      </section>
    <% } %> 
  </section> 
</main>

<footer class="h-16 flex justify-center items-center">
  <p class="text-sm text-gray-500">Copyright &copy; 2020/明创株式会社.tomorrow_c</p>
</footer>
    <!-- <p>
      <strong> Hi, </strong> 
      I'm zpo, a front-end developer.
      <br>
      <br>
      This is my blog, 
      <br>
      <br>
      where I will be posting a series of tutorials on front-end development!
      <br>
      <br>
      If you're interested in this piece of content, 
      <br>
      <br>
      <strong>let's get started!</strong>
    </p> -->