<header id="home-header">
  <main>
    <p>
      <strong> Hi, </strong> 
      I'm zpo, a front-end developer.
      <br>
      <br>
      This is my blog, 
      <br>
      <br>
      where I will be posting a series of tutorials on front-end development!
      <br>
      <br>
      If you're interested in this piece of content, 
      <br>
      <br>
      <strong>let's get started!</strong>
    </p>
  </main>
</header>