#aside {
  ul.list {
    > li {
      background-color: #fff;
      padding: 1.4em;
      box-sizing: border-box;
      &:not(:first-child) {
        margin-top: 1.4em;
      }
      > h4 {
        margin-top: 0;
        padding-bottom: 0.4em;
        border-bottom: 1px solid $borderColor;
      }
      .social-media {
        margin-top: 1em;
        i {
          display: inline-block;
          font-size: 22px;
          &:not(:first-child) {
            margin-left: 10px;
          }
        }
      }
      .search-btn {
        margin-top: 1em;
        background-color: $primary;
        padding: 0.8em 1em;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
      }
      .archive-list {
        margin-top: 1em;
        .archive-list-item {
          width: 50%;
          display: inline-block;
          .archive-list-link {
            color: $primary;
          }
          .archive-list-count {
            display: inline-block;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            margin-left: 0.3em;
            border-radius: 50%;
            font-size: 13px;
            background-color: #eee;
          }
        }
      }
      .category-list {
        margin-top: 1em;
        .category-list-item {
          width: 50%;
          display: inline-block;
          .category-list-link {
            color: $primary;
          }
          .category-list-count {
            display: inline-block;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            margin-left: 0.3em;
            border-radius: 50%;
            font-size: 13px;
            background-color: #eee;
          }
        }
      }
    }
  }
}
