#posts {
  padding-bottom: 2em;
  #post {
    position: relative;
    background-color: #fff;
    min-height: 100px;
    padding: 1.4em;
    &:not(:first-child) {
      margin-top: 1.4em;
    }
    .cover {
      display: inline-block;
      position: absolute;
      height: 140px;
    }
    .info {
      height: 140px;
      display: inline-block;
      vertical-align: top;
      padding-left: 230px;
      a.title {
        display: block;
        font-weight: 400;
        font-size: 24px;
      }
      .content {
        margin-top: 1em;
        line-height: 1.6;
        display: inline-block;
        font-size: 14px;
        color: #4e4e4e;
      }
    }
    hr {
      margin: 2em 0 1em;
      border-color: #edf0f5;
      transform: scaleY(0.5);
    }
    .bottom {
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      time {
        font-size: 13px;
        color: darken($color: #edf0f5, $amount: 30);
      }
      .readmore-btn {
        display: inline-block;
        float: right;
        font-size: 13px;
        &:visited {
          color: darken($color: #edf0f5, $amount: 30);
        }
      }
    }
  }
}