#post-toc {
  width: 30%;
  box-sizing: border-box;
  min-width: 320px;
  padding: 1em 1em 1em 2em;
  background-color: #fff;
  font-size: 14px;
  >h4 {
    margin-top: 0;
    padding-bottom: 0.6em;
    border-bottom: 1px solid $borderColor;
    a{
      float: right;
      color: #0f8df2;
      font-size: 13px;
      font-weight: 300
    }
  }
  .toc {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    .toc-link {
      display: inline-block;
      padding: 0.4em 0;
    }
    .toc-child {
      padding-left: 1em;
    }
  }
}