// vatiable
@import './variable.scss';

// laytout
@import './layout/layout.scss';

// partials
@import './partials/header.scss';
@import './partials/nav.scss';
@import './partials/recent-post.scss';

html {
  background: #edf0f5
}
body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}
