// vatiable
@import './variable.scss';

// response
@import './response.scss';

// laytout
@import './layout/layout.scss';
@import './layout/post.scss';
@import './layout/archive.scss';

// partials
@import './partials/header.scss';
@import './partials/nav.scss';
@import './partials/posts.scss';
@import './partials/recent-post.scss';
@import './partials/footer.scss';
@import './partials/aside.scss';
@import './partials/toc.scss';

// post markdown syntax highlight
@import './highlight.scss';

html {
  background: #edf0f5;
}
body {
  margin: 0;
  position: relative;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: $primary;
  text-decoration: underline;
}
a:visited {
  color: #333333;
  text-decoration: underline;
}

